#1.create list of your name,age,field,location using [] and list constructor

In [40]:
#using[]

my_list1=["Dipika",24,"E&TC","kalyan"] 
print(my_list1)

['Dipika', 24, 'E&TC', 'kalyan']

In [3]:
#using list constructor

my_list1=list(("Dipika",24,"E&TC","kalyan"))
print(my_list1)

['Dipika', 24, 'E&TC', 'kalyan']

#2.print only your field using index method

In [4]:

#using index method
my_list1=list(("Dipika",24,"E&TC","kalyan"))
print(my_list1[2])

E&TC

#3.print the position of location element

In [5]:
#3
my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1.index("kalyan")

3

#4.print element btw age and location,using forward  and backward indexing

In [6]:

my_list1=list(("Dipika",24,"E&TC","kalyan"))
print(my_list1[-2:-1])

['E&TC']

In [8]:
my_list1=list(("Dipika",24,"E&TC","kalyan"))
print(my_list1[2:3])

['E&TC']

 #5.replace the element of name with surname

In [9]:

my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1[0:1]=["bhangale"]
print(my_list1)

['bhangale', 24, 'E&TC', 'kalyan']

#6.replace the element of name,ageand field

In [10]:

my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1[0:3]=["Blue","playing a game","bhangale"]
print(my_list1)

['Blue', 'playing a game', 'bhangale', 'kalyan']

#7.replace the element of name,age with only surname

In [11]:

my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1[0:2]=["bhangale"]
print(my_list1)

['bhangale', 'E&TC', 'kalyan']

#8.replace the element of name with your nickname and surname

In [12]:

my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1[0]=["dipu","bhangale"]
print(my_list1)

[['dipu', 'bhangale'], 24, 'E&TC', 'kalyan']

#9.add your surname in the list after your first name

In [46]:
my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1[1:0]=["Bhangale"]
print(my_list1)

['Dipika', 'Bhangale', 24, 'E&TC', 'kalyan']

#10.add your only one hobby at the end of the list

In [13]:

my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1.append("watching a series")
print(my_list1)

['Dipika', 24, 'E&TC', 'kalyan', 'watching a series']

#11.add your n-numbers of hobbies at the end of the list

In [15]:

my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1.extend(("watching a series","writing","cooking"))
print(my_list1)

['Dipika', 24, 'E&TC', 'kalyan', 'watching a series', 'writing', 'cooking']

#12.remove your location from list

In [18]:

my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1.pop()
print(my_list1)

['Dipika', 24, 'E&TC']

#13.remove your age from list[using 2 methods]

In [20]:

# using pop method
my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1.pop(1)
print(my_list1)

['Dipika', 'E&TC', 'kalyan']

In [21]:
#using remove method
my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1.remove(24)
print(my_list1)

['Dipika', 'E&TC', 'kalyan']

#14.remove last element from the list

In [22]:

my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1.pop()
print(my_list1)

['Dipika', 24, 'E&TC']

#15.remove all element from the list(empty)

In [23]:

my_list1=list(("Dipika",24,"E&TC","kalyan"))
my_list1.clear()
print(my_list1)

[]

#16.delete the list

In [24]:

my_list1=list(("Dipika",24,"E&TC","kalyan"))
del my_list1
print(my_list1)

NameError: name 'my_list1' is not defined

#17. create a list of prime numbers till 20 and find the length of it

In [25]:
new_list=[2,3,5,7,11,13,17,19]
len(new_list)

8

#18.create a list of 5,2,18,7,12 and print in ascending and descending order

In [26]:
#ascending
my_list=[5,2,18,7,12]
my_list.sort()
print(my_list)

[2, 5, 7, 12, 18]

#19.merge two list

In [27]:
#using + operator
a=[1,2,3,4]
b=[5,6,7,8]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
#using extend
a=["dipika","nikita","monika","pooja"]
b=["sonali","monali","rupali"]
a.extend(b)
print(a)

['dipika', 'nikita', 'monika', 'pooja', 'sonali', 'monali', 'rupali']

#20.make a deep copy of list and check whether it is copying deeply or not

In [39]:
x= ["rose","mogra","jasmin"]
#using = operator
y = x
#printing a new list
print(y)


# making changes in the original list
x.append("tulip")
print(x)
print(y)

['rose', 'mogra', 'jasmin']
['rose', 'mogra', 'jasmin', 'tulip']
['rose', 'mogra', 'jasmin', 'tulip']